<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Article Summarizer</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;600;700&display=swap">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
     <link rel="stylesheet" href="static/style.css">
    <style>

    </style>
</head>
<body>
    <div class="container">
        <h1>Article Summarizer</h1>
        <form method="post">
            <label for="article_url">Article URL:</label>
            <input type="text" id="article_url" name="article_url" required>
            <label for="summary_length">Summary Length:</label>
            <input type="number" id="summary_length" name="summary_length" value="3" required>
            <button type="submit">Summarize</button>
        </form>
        <div class="spinner"></div>
        {% if article_url %}
            <h2>Summary for the given article</h2>
            <p>{{ summary }}</p>
        {% endif %}
    </div>
</body>
</html>
